/* styles.css */

.title {
    color: black;
}

.alert-text { 
    color: red;
}

* {
    padding: 10px;
    border: 2px solid grey;
    margin: 30px;
} /* this makes it so it gives every element a 2 pixel-wide solid grey border*/